- content_for :title do
  %h1= @academic_period.name
  
= render :partial => 'admin/academic_periods/menu', :locals => { :academic_period => @academic_period }

%article.content
  %header.page-header
    %h2= t 'AcademicPeriodCurriculums'
    %ul#toolbar
      %li= link_to ((t 'New') + ' ' + (t 'activerecord.models.academic_period_curriculum')), {:action => 'new'}, :class => 'new'
    
  %table
    %thead
      %tr
        %th= t 'activerecord.attributes.academic_periods_curriculums.code'
    %tbody
      - for academic_period_curriculum in @academic_period_curriculums
        %tr
          %td= link_to academic_period_curriculum.code, admin_academic_period_curriculum_path(@academic_period, academic_period_curriculum)
          
  = will_paginate @academic_period_curriculums