- content_for :title do 
  %h1= @academic_period.name
  
= render :partial => 'admin/academic_periods/menu', :locals => { :academic_period => @academic_period }

%article.content
  %header.page-header
    %h2
      = t 'Add'
      = t 'Students'
    %ul#toolbar
      %li= link_to (t 'Back'), admin_academic_period_curriculum_path(@academic_period, @academic_period_curriculum), :class => 'back'
      
  = render 'form'