- content_for :title do 
  %h1= @academic_period.name
  
= render :partial => 'admin/academic_periods/menu', :locals => { :academic_period => @academic_period }

%article.content
  %header.page-header
    %h2
      = t 'New'
      = t 'activerecord.models.academic_period_curriculum'
    %ul#toolbar
      %li= link_to (t 'Back'), {:action => 'index'}, :class => 'back'
      
  = render 'form'