- content_for :title do 
  %h1= @academic_period.name
  
= render :partial => 'admin/academic_periods/menu', :locals => { :academic_period => @academic_period }

%article.content
  %header.page-header
    %h2
      = (t 'activerecord.models.academic_period_curriculum') + ':'
      = @academic_period_curriculum.code
    %ul#toolbar
      %li= link_to (t 'Back'), {:action => 'index'}, :class => 'back'
      %li= link_to "#{t 'Add'} #{t 'Students'}", new_admin_academic_period_curriculum_student_path(@academic_period, @academic_period_curriculum), :class => 'new'
      %li= button_to (t 'Delete'), {:action => 'show'}, :confirm => (t 'AreYouSure'), :method => :delete, :class => 'delete'
      
  %p
    %strong= "#{t 'activerecord.attributes.academic_period_curriculum.code'}:"
    = @academic_period_curriculum.code
    
  %p
    %strong= "#{t 'activerecord.models.course'}:"
    = link_to @academic_period_curriculum.curriculum.course.name, [:admin, @academic_period_curriculum.curriculum.course]
    = "-"
    = link_to @academic_period_curriculum.curriculum.name, [:admin, @academic_period_curriculum.curriculum.course, @academic_period_curriculum.curriculum]

  %h3= t 'Students'
  - if @academic_period_curriculum_students
    %table
      %thead
        %tr
          %th= t 'activerecord.attributes.student.code'
          %th= t 'activerecord.attributes.person.name'
      %tbody
        - @academic_period_curriculum_students.each do |academic_period_curriculum_student|
          %tr
            %td= academic_period_curriculum_student.student.code
            %td= link_to academic_period_curriculum_student.student.name, admin_academic_period_curriculum_student_path(@academic_period, @academic_period_curriculum, academic_period_curriculum_student)
          
    = will_paginate @academic_period_curriculum_students
